/***********************************************************************************/
/*                                                                                 */
/*                                    LE CSS                                       */
/*                                                                                 */
/*                             I La base de mes pages                              */
/***********************************************************************************/

/* Le bas de la page  */

*{
    margin: 0%;
    padding: 0%;
}/*Pour tout les élément je retire les marges et le padding*/

body {
    background-color: rgb(251 248 255);
}/*Pour le corps je mes la couleurs de font*/

/*************************************************************/
/* II La barre de Navigation du Haut (le bandeau de la page) */
/*************************************************************/

header {
    background-color: rgb(11 12 74) ;
    display: flex;
}/* Dans le header je met une couleur de fond et mon display flex (pour m'assurer que les éléments fils directs seront alignés sur une ligne) */

nav {
    width:100%;
    height:15rem;
    display:flex;
    justify-content:center;
} /* Dans la balise nav: je met l'image de ma bannière que je fait répéter sur l'axe x.  */
/* L'image fera partie du background et je lui donne une taille et je la positionne à 20 pixels sur l'axe y  */
/* Je dimentionne le tout  */

.navig{
    background-color: rgba(238,250,252,0.6);
    padding: 40px;
    padding-bottom: 50px;
    height:3rem;
    display: inline;
    scroll-padding-bottom: 0px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
}/* Dans les balises de class navig ()   */

.url {
    text-decoration: none;
    background: conic-gradient(#a8a8fef7 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, .08em);
    transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}

.url:hover {
    --p: 100%;
    --t: .3s;
    color : rgb(40, 27, 53);
}

.conteneur_page {
    padding-top: 50px;
}


.banner-construction {
    height: 7vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    background: linear-gradient(90deg, #1e3c72 10%, #2a5298 60%, #6dd5fa 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 500;
    padding: 14px 0;
    box-shadow: 0 2px 16px #1564ad33;
    z-index: 10000;
    gap: 16px;
    animation: fadeInDown 1.2s cubic-bezier(.5, 1.7, .9, .9);
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
}

.banner-icon {
    font-size: 1.7em;
    animation: rotateTool 1.6s infinite linear;
    display: inline-block;
    filter: drop-shadow(0 0 4px #6dd5fa55);
}

.banner-text {
    animation: textGlow 2s infinite alternate;
    text-shadow: 0 2px 8px #1e3c7290;
}

@keyframes fadeInDown {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rotateTool {
    0%   { transform: rotate(-20deg);}
    80%  { transform: rotate(25deg);}
    100% { transform: rotate(-20deg);}
}
@keyframes textGlow {
    0% { text-shadow: 0 2px 8px #6dd5fa66;}
    100% { text-shadow: 0 2px 22px #6dd5fa;}
}
@media (max-width: 600px) {
    .banner-construction {
        font-size: 0.96em;
        padding: 10px 0;
        gap: 10px;
    }
    .banner-icon {
        font-size: 1.3em;
    }
}

/**********************************************************************************/
/*                  IV Le texte de la page perrine goget                          */
/**********************************************************************************/

h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 150px;
    text-align: center;
    font-size: 70px;
    color: rgb(48, 11, 97);
}

h2 {
    margin: 50px 0px 50px 0px;
    text-align: center;
    font-size: 40px;
    color: rgb(48, 11, 97);
    font-family: "Montserrat",  Arial, sans-serif;
}


@media (max-width: 900px) {
  h1 { font-size: 2em; margin: 2em 0 1em 0; }
  h2 { font-size: 1.2em; }
  p  { font-size: 1.2em; min-width: 0; }
  .mon_texte { font-size: 1.1em; }
  .navig { font-size: 1em; padding: 14px 4px; }
  nav { height: auto; min-height: 4rem; }
  #footer_projet { font-size: 1em; }
  #linki { width: 36px; }
}

@media (max-width: 600px) {
  nav { flex-direction: column; gap: 0.2em; height: auto; }
  .navig { font-size: 0.95em; min-width: 60px; padding: 8px; }
  h1 { font-size: 1em; margin: 1.2em 0 0.7em 0; }
  h2 { font-size: 0.95em; }
  p { font-size: 1em; min-width: 0; }
  .mon_texte { font-size: 0.98em; padding: 0.5em; }
  #footer_projet { font-size: 0.8em; flex-direction: column; gap: 0.4em; }
  #linki { width: 24px; margin-left: 0; }
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 35px;
    text-align: center;
    font-family: "Montserrat",  Arial, sans-serif;
    min-width : 60vh;
    padding: 5rem;
}

.center {
    text-align: left;
}


div.mon_texte {
    padding-top: 2rem;
}


#liste_gauche {
    padding: 5rem;
    margin-left: 10rem;
    text-align: left;
}


.gauche {
    display:flex;
    align-items: center;
    padding-top: 5rem;
    padding-left: 15rem; 
    padding-bottom: 5rem; 
    padding-right: 15rem; 
}

.gauchiste {
    padding-top: 0px;
    text-align: left;
    padding-right:5rem;
    padding-left: 0px;
    padding-bottom: 0px;
    min-width : 60vh;
    max-width : 80vh;
}


.droite {
        display:flex;
    align-items: center;
    padding-left: 15rem; 
    padding-right: 15rem; 
    padding-bottom: 5rem; 
}


.droitiste {
    padding-top: 0px;
    text-align: left;
    padding-right:0px;
    padding-left: 5rem;
    padding-bottom: 0px;
    min-width : 60vh;
    max-width : 80vh;
}

#legume {
    height: 35rem;
}

/**********************************************************************************/
/*                                   VII Le footer                                 */
/**********************************************************************************/



#footer_projet{
    background-color: rgb(11 12 74);
    margin-top: 20vh;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Montserrat',  Arial, sans-serif;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

#linki {
    width: 50px;
    min-width: 3%;
    background-color: white;
    border-radius: 10px;
    margin-left: 1rem;
}