
/**********************************************************************************/
/*                  IV La grille des pages                                        */
/**********************************************************************************/

.grille {   
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        .image-container {
            margin: 10px;
            cursor: pointer;
            display: inline-block;
            
        }

        .grande {
            width: 700px !important;
        } 


        img.photoshop_img:not(.i) {

            width: 350px !important;
            height: 460px !important;
        }


        img:not(.i) {
            width: 400px;
            height: auto;
            border-radius: 8px;
            transition: transform 0.2s;
            object-fit: cover;
            aspect-ratio: 1/1;
        }


.rectangle {
    aspect-ratio: 16/9 !important;
    width: 700px !important;
}


        img:hover:not(.i) {
            transform: scale(1.05);
        }



        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            justify-content: center;
        }



        .modal img {
            width: 40vw;
            height: auto;
            object-fit: contain ; 
        }

       .modal img.grande {
        width: 80vw !important;
        max-width: 100vw !important;
        min-width: 0 !important;
        object-fit: contain ; 
    }


        .modal #gourde {
            width: 100vw;
            height: auto;
        }

        .modal #dague {
            width: 100vw;
            height: auto;
        }



.videos{
  display: flex;
  justify-content: center;
}

video { 
    max-width: 50rem;
    margin: 10px;
 }

 .parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
 }

 
